.experience-container {
    padding: 100px 200px; 
    background: #fff;
    margin-top: 2rem;
  }
  
  .experience-header {
    text-align: center;
    margin-bottom: 50px;
    position: relative;
  }
  
  .experience-header-below {
    font-size: 8.25rem;
    color: rgb(202, 204, 204) !important;
    position: absolute;
    top: -65px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    white-space: nowrap;
    line-height: 1.3;
    opacity: 0.4;
    font-weight: 600;
  }
  
  .experience-header-top {
    color: #111418;
    position: relative;
    z-index: 2;
    font-weight: 600;
    font-size: 2.25rem;
    margin-bottom: 1rem;
  }
  
  .experience-header-top::after {
    content: '';
    display: block;
    width: 0;
    height: 4px;
    background: linear-gradient(to right, #111418, #ffc107); 
    margin: 0 auto;
    animation: growShrinkLine 4s infinite;
  }
  
  @keyframes growShrinkLine {
    0% {
      width: 0;
    }
    50% {
      width: 100px;
    }
    100% {
      width: 0;
    }
  }

  .timeline {
    margin-bottom: 30px;
    color: black;
  }
  

  .timeline-divider{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

  }

  
  .timeline-list {
    font-size: 14px;
    margin-left: 45px;
  }
  
  .timeline-item {
    position: relative;
  }
  
  .timeline-item:not(:last-child) {
    margin-bottom: 20px;
  }
  
  .timeline-item-title {
    font-size: 1rem;
    line-height: 1.3;
    margin-bottom: 7px;
  }
  
  .timeline-list span {
    color: #ffc107;
    font-weight: 400;
    line-height: 1.6;
  }
  
  .timeline-item:not(:last-child)::before {
    content: "";
    position: absolute;
    top: 20px;
    left: -30px;
    width: 1px;
    height: calc(100% + 50px);
    background: #ffc107;
  }
  
  .timeline-item::after {
    content: "";
    position: absolute;
    top: 5px;
    left: -33px;
    height: 6px;
    width: 6px;
    background: #ffc107;
    border-radius: 50%;
    box-shadow: 0 0 0 4px hsl(105, 11%, 22%);
  }
  
  .timeline-text {
    color: #111418;
    font-weight: 300;
    line-height: 1.6;
  }
  
  .timeline-item {
    opacity: 1;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;
  }


  @media (max-width: 1024px) {
    .experience-container {
      padding: 100px 50px; 
    }
  
    .timeline-divider {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .timeline-list {
      margin-left: 20px;
      margin-bottom: 30px;
      font-size: 13px;
    }
  
    .experience-header-below {
      font-size: 5.25rem;
      top: -45px;
    }
  
    .experience-header-top {
      font-size: 1.75rem;
    }
  
    .experience-header-top::after {
      width: 60px;
      height: 3px;
    }
  }
  
  @media (max-width: 768px) {
    .experience-container {
      padding: 60px 20px;
    }
  
    .timeline-divider {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .timeline-list {
      margin-left: 15px;
      margin-bottom: 20px;
      font-size: 12px;
    }
  
    .experience-header-below {
      font-size: 4rem;
      top: -35px;
    }
  
    .experience-header-top {
      font-size: 1.5rem;
    }
  
    .experience-header-top::after {
      width: 50px;
      height: 2px;
    }
  }
  
  @media (max-width: 480px) {
    .experience-container {
      padding: 40px 10px;
    }
  
    .timeline-divider {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .timeline-list {
      margin-left: 10px;
      margin-bottom: 15px;
      font-size: 11px;
    }
  
    .experience-header-below {
      font-size: 3rem;
      top: -30px;
    }
  
    .experience-header-top {
      font-size: 1.25rem;
    }
  
    .experience-header-top::after {
      width: 40px;
      height: 2px;
    }
  }
  